body {
    background-color: white;
    color: black;
   
}

.theme {
    margin: 20px;
    border: none;
    /* This positions the button to the right */
}

.dark-mode {
    background-color: #3C3D37;
    color: white;
}

.dark-mode .title {
    border-bottom: 10px double;
    background-color: #3C3D37;
    border-color: white;
    
}

.dark-mode .sidebar {
    border-right:1px solid #555;
    background-color: #2a2b2a;
    color: #e7e4e4;
}

.dark-mode .sidebar a{
    color: #ffffff;
}

.sidebar a.active {
    background-color: #5c5c5a;
    color: #ffffff;
}

.dark-mode .sidebar a:hover:not(.active) {
    background-color: #555;
    color: rgb(219, 216, 216);
}


.dark-mode .columns {
    border-top: 3px solid;
    border-color: white;
}

.dark-mode .columns > div {
    border-right: 1px solid rgb(241, 241, 241);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.dark-mode .content:hover {
    background-color: #1E201E;
}

.dark-mode .button:hover {
    background-color: #40534C;
}

.dark-mode a {
    color: white;
}

.dark-mode .dropdown a,
li {
    color: #000000;
    text-decoration: none;
}

.dark-mode #search_list {
    color: #000000;
    background-color: #444444; /* White background for the dropdown */
    border: 1px solid #f8f8f8; /* Border around the dropdown */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
}
